#name {
    text-align: center;
    font-size: 50px;
}

#PMP {
    font-style: italic;
    color: red;
    animation: blinker 1s linear infinite;
  }
  
  @keyframes blinker {
    50% {
      opacity: 0;
    }
  }

#bodytable tr th {
    border: 1px solid black;
}

#skills ul li {
    text-align: left;
}

body {
    /* padding: 0px; */
    font-family: Helvetica, sans-serif;
    background-color:rgb(191, 199, 204);
}

header {
    text-align: center;
    font-weight: bold;
}

h1 {
    text-align: center;
}

h2 {
    text-decoration: underline;
}

h3 {
    font-style: italic;
}

h4 {
    font-style: italic;
}

table, th, td {
    border: 1px solid black;
}

td {
    padding: 10px;
}