#name {
    text-align: center;
    color: red
}

h1 {
    text-align: center;
    color: red
}

header {
    text-align: center;
    font-size: 1px;
    color: red
}

body {
    padding: 300px;
}

.title {
    color: red
}